.tiptap {
    > * + * {
      margin-top: 0.75em;
    }

    button {
      padding: 3px 7px;
      border-radius: 5px;
      margin: 2px;
      font-size: 16px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
  }

    blockquote {
        border-left: 3px solid rgba(#0d0d0d, 0.1);
        padding-left: 1rem;
      }

      
  input[type="checkbox"] {
    margin-right: 8px;
  }

  p {
    font-size: 1.5rem;
  }

  p, h1, h2, h3 {
    // line-height: 1.2rem;
    color: #242424de;
  }

  h1{
    font-size: 2.5rem;
  }
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.5rem;
  }
  h4{
    font-size: 1rem;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  ol {
    list-style: decimal;
  }

  ul{
    list-style: disc;
  }

  img {
    height: auto;
    max-width: 100%;
  }
  a {
    color: #68cef8;
  }

  // .has-focus {
  //   border-radius: 3px;
  //   box-shadow: 0 0 0 2px #eee;
  //   padding:  5px;
  // }
  }
  