

button:hover {
    background-color: #f5f5f5;

}

button.is-active {
    background-color: rgba(226, 232, 240, 0.774);
    font-weight: 500;
}

button svg {
    width: 16px;
    height: 16px;
}

.tiptap.ProseMirror {
    border: none;
    outline: none;
}

.typgraph svg {
    height: 14px;
}

.typgraph {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 8px 0;
}

.is-active .typgraph small {
    font-weight: bolder !important;
}

.is-active .typgraph svg {
    stroke-width: 4px;
}
.tiptap .is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}